.img-div-rotate {
  position: relative;
}

.img-rotate {
  position: absolute;
  top: 0;
  left: 0;
}



@keyframes clockwiseSpin {
  from  {
    transform: rotate(0deg);
 }
 to {
    transform: rotate(360deg);
  }	
}

@keyframes antiClockwiseSpin {
  from  {
    transform: rotate(360deg);
 }
 to {
    transform: rotate(0deg);
  }	
}

.clockwiseSpin {
   animation: clockwiseSpin 10s linear infinite;

}

.antiClockwiseSpin {
  animation: antiClockwiseSpin 10s linear infinite;
}

