@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,300&family=Satisfy&display=swap');

:root {
  --color-1: #3d3d3d;
  --color-2:#04293A;
  --color-3:#064663;
  --color-6:#F4DFB1;
  --color-5:#eee9dad3;
  --color-4:#EEE9DA;

  --background-1: linear-gradient(180deg, rgba(38,38,38,1) 50%, rgba(103,102,102,1) 75%, rgba(129,129,129,1) 100%);
  --background-2: linear-gradient(0deg, rgba(38,38,38,1) 50%, rgba(103,102,102,1) 75%, rgba(129,129,129,1) 100%);
 
  --bg-color-1: rgb(38,38,38);
  --bg-color-2: rgb(6,70,99);
  
  font-family: 'Poppins', sans-serif;
  font-family: 'Satisfy', cursive;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-4);
  /* border: 1px solid red; */
}

body {
  background: var(--bg-color-1);  
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* ----- NAV BAR ------ */
.nav-container {
  padding: 0;
  height: 120px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  background: rgb(38,38,38)
}

.navbar {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: none;
  color: var(--color-4);
  padding-top: 0;
  padding-bottom: 0;
}

.nav-div {
  width: 100%;
  height: 100%;
  padding-inline: 0;
}

.navbar-collapse {
  width: 100%;
  height: 100%;
  text-align: right;
  justify-content: right;
  background-color: transparent;
  padding: 0;
}

.navbar-brand {
  height: 100%;
  font-family: 'Satisfy', cursive;
  font-size: clamp(1.875rem, 1.3068rem + 2.8409vw, 3.4375rem);
  color: var(--color-4);
  padding-top: 1.75rem;
  padding-inline: 10px;
  margin-left: 10px;
}

.nav-item a {
  text-align: center;
  height: 100%;
  color: var(--color-4);
  font-size: 1.5rem;
  margin-left: 1.25rem;
  padding-inline: 10px;
  padding-top: 2.5rem;
  border-radius: 0 0 10px 10px;
}

.nav-item a:hover  {
  background-color: var(--color-4);
  color: var(--color-1);
  border-radius: 0 0 10px 10px;
}

.navbar-brand:hover {
  color: var(--color-6);
  transform: scale(1.1);
}

.navbar-toggler {
  color: var(--color-4);
  margin-top: 1rem;
  border: 0;
  font-size: 2rem;
}

.nav-item a:focus {
  background-color: var(--color-4);
  color: var(--color-1);
}

.navbar-nav {
  height: 100%;
}



/* --------- HERO SECTION --------- */
.container-1 {
  width: 100%;
  height: auto;
  background: rgb(38,38,38); 
  background: var(--background-1);
  padding: 3rem 0;
}

.hero-div {
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-inline: 10px;
  gap: 20px;
  display: flex;
}

/* ------------------- LEFT DIV ----------------*/
.left-div {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

.img-div {
  height: 100%;
  width: 100%;
}

.img-div-rotate {
  position: relative;
  height: 100%;
  width: 100%;
}

.img-div-rotate .hidden {
  visibility: hidden;
}

.img-div-rotate .img {
  position: absolute;
  top: 0;
  left: 0;
}



/* ------------------- RIGHT DIV ----------------*/
.right-div {
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.right-div-content {
  height: 100%;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.text-div h1 {
  font-size: clamp(3.8rem, 0.625rem + 10vw, 8.125rem);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.contact-div, .button-div, .socmed-div, .text-div {
  text-align: center;
  margin-top: 2rem;
}

.contact-div h5 span {
  font-size: 1.5rem;
  font-weight: 300;
  margin-inline: 5px;
}

.button-div button {
  font-size: clamp(1rem, 0.6568rem + 0.9369vw, 1.5rem);
  margin-inline: 25px;
  padding: 10px 15px;
}

.button-div .dl-btn {
  border: 3px solid var(--color-1);
  background-color: var(--color-6);
  border-radius: 15px;
  color: var(--color-1);
  font-weight: 600;
}

.button-div .msg-btn {
  background-color: transparent;
  border: 2px solid var(--color-4);
  border-radius: 15px;
}

.button-div .dl-btn i {
  color: var(--color-1);
}

.button-div .dl-btn:hover {
  transform: scale(1.1);
  border: 1px solid var(--color-6);
  color: var(--color-1);
}

.button-div .msg-btn:hover {
  transform: scale(1.1);
  border: 1px solid var(--color-6);
  color: var(--color-6);
}

.socmed-div h3 i {
  font-size: 4rem;
  margin-inline: 15px;
}

.socmed-div h3 i:hover {
 transform: scale(1.1);
 color: var(--color-6);
}

.antiClockwiseSpin {
  animation: antiClockwiseSpin 10s linear infinite;
}

.bounce {
  animation: bounce2 1.5s ease infinite;
}



/* ------- ABOUT ME -------- */
.container-2 {
  width: 100%;
  background: rgb(38,38,38); 
  background: var(--background-2);
  padding: 3rem 2rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-div {
  width: 100%;
  max-width: 1200px;
  text-align: left;
  margin: 0 auto;
}

.about-div h1 {
  font-size: clamp(3.5rem, 0.625rem + 10vw, 8.125rem);
  text-align: center;
}

.top-about-div {
  margin-block: 30px;
}

.grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.top-about-div p span {
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  color: var(--color-6);
}

.middle-about-div img {
  min-width: 200px
}

.show-div {
  display: none;
}

.padding-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/* --------- PROJECTS --------- */
.container-3 {
  width: 100%;
  height: auto;
  background: rgb(38,38,38); 
  background: var(--background-1);
  padding: 3rem 0;
  text-align: center;
}

.container-3 h1 {
  font-size: clamp(3.8rem, 0.625rem + 10vw, 8.125rem);
  text-align: center;
}

.project-div {
  width: 100%;
  max-width: 1400px;
  display: flex;
  gap: 30px;
  margin: 4rem auto;
}

.card {
  width: 500px;
  min-width: 300px;
  height: auto;
  border: 4px solid var(--color-6);
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
}

.card-img img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-body {
  background-color: var(--bg-color-1);
  border-radius: 0 0 15px 15px;
}

.card-body h4 {
  color: var(--color-4);
  padding: 10px 5px;
  border-radius: 15px;
  font-size: 1.125rem;
  text-align: justify;
  height: 100px;
}

.bottom-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.bottom-div h5 span i{
  font-size: 2.125rem;
}

.bottom-div button {
  background-color: var(--color-6);
  color: var(--color-1);
  font-weight: 600;
  border: 2px solid var(--color-1);
  border-radius: 15px;
  padding: 10px 15px;
}

.bottom-div button i {
  color: var(--color-1);
}

.bottom-div button:hover {
  transform: scale(1.1);
}





/* ------ CONTACTS ------- */
.container-4 {
  width: 100%;
  background: rgb(38,38,38); 
  background: var(--background-2);
  padding: 3rem 1rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-4 h1 {
  font-size: clamp(3.8rem, 0.625rem + 10vw, 8.125rem);
  text-align: center;
}

.contacts-div {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-contact-div {
  width: 40%;
}

.left-contact-div {
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-div {
  width: auto;
  padding-left: 40px;
}

.details-div h2 {
  font-size: 2.5rem;
}

.details-div h3 {
  font-size: 2rem;
  margin-top: 8px;
}

.details-div i {
  font-size: 2rem;
  margin-right: 5px;
}


/* FOOTER */
footer {
  margin-top: 200px;
  width: 100%;
  height: 60px;
  margin-bottom: 0;
}

footer h3 {
  min-width: 300px;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  margin-top: 100px;
}

footer span .cursive{
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
}




/* ---------------- KEYFRAMES ----------- */

@keyframes clockwiseSpin {
  from  {
    transform: rotate(0deg);
 }
 to {
    transform: rotate(360deg);
  }	
}

@keyframes antiClockwiseSpin {
  from  {
    transform: rotate(360deg);
 }
 to {
    transform: rotate(0deg);
  }	
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
  90% {transform: translateY(0px);}
}




/* ------ MEDIA QUERIES -------- */
@media  ( max-width: 1300px) and (min-width: 992px){
  .left-div {
    padding-top: 20px;
  }

  .right-div  {
    padding: 0;
  }

  .text-div {
    margin-top: 0;
  }

  .text-div h1 {
    font-size: clamp(6.25rem, 0.211rem + 9.7403vw, 8.125rem);
  }

  .contact-div, .button-div, .socmed-div, .text-div {
    margin-top: 1rem;
  }

  .contact-div h5 span {
    font-size: 1.2rem;
  }

  .button-div button {
    margin-inline: 15px;
    padding: 8px 15px;
  }

  .socmed-div h3 i {
    font-size: 3rem;
    margin-inline: 12px;
  }

  .project-div {
    max-width: 85%;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
    min-width: 800px;
  }

  .card-img {
    width: 40%;
  }

  .card-body {
    border-radius: 0 15px 15px 0;
    width: 60%;
  }

  .card-img img {
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .reverse {
    flex-direction: row-reverse;
  }
  .reverse-img img{
    border-radius: 0 15px 15px 0;
  }
  .reverse-body {
    border-radius: 15px 0 0 15px;
  }

  .details-div {
    width: auto;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 10px;
  }
   
  .details-div h2 {
    font-size: 2rem;
  }
   
  .details-div h3 {
    font-size: 1.5rem;
  }
   
  .details-div i {
    font-size: 2rem;
  }

}


@media (max-width: 991px) {

  .nav-container {
    height: 90px;
  }

  .container-1 {
    height: auto;
  }

  .nav-item a {
    background: rgb(38,38,38);
    text-align: right;
    border-radius: 0;
    margin-left: 0;
    padding-top: 1rem;
    font-size: 1.25rem;
  }

  .nav-item a:hover {
    border-radius: 0;
  }

  .navbar-brand {
    padding-inline: 0;
    margin-left: 0;
    padding-top: .75rem;
  }

  .hero-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-inline: 0;
  }

  .left-div {
    height: auto;
    width: 80%;
    padding-top: 0;
  }

  .img-div-rotate{
   text-align: center;
  }

  .img-div-rotate .img {
    width: 100%;
  }

  .right-div {
    height: 100%;
    width: 100%;
    padding: 0 ;
  }
  
  .left-about-div {
    grid-column: 1 / span 3;
  }

  .right-about-div {
    grid-column: 2 / span 2 ;
  }

  .about-div {
    text-align: justify;
  }

  .project-div {
    max-width: 90%;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    width: 80%;
    min-width: 700px;
  }
  
  .card-img {
    width: 40%;
  }
  
  .card-body {
    border-radius: 0 15px 15px 0;
    width: 60%;
  }

  .card-img img {
    height: 100%;
    border-radius: 15px 0 0 15px;
  }

  .card-body h4{
    font-size: 1rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .reverse-img img{
    border-radius: 0 15px 15px 0;
  }

  .reverse-body {
    border-radius: 15px 0 0 15px;
  }

  .contacts-div {
    width: 100%;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .right-contact-div {
    width: 70%;
    max-width: 500px;
  }
  
  .left-contact-div {
    width: auto; 
  }

  .details-div {
    width: auto;
    max-width: 650px;
    padding-left: 0;
    margin: 0 auto;
  }
   
  .details-div h2 {
    font-size: 2.25rem;
  }
   
  .details-div h3 {
    font-size: 1.75rem;
    margin-top: 10px;
  }
   
  .details-div i {
    font-size: 1.75rem;
  }

}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .navbar-brand {
    padding-top: 1.25rem;
  }

  .contact-div h5 span {
    font-size: 1.25rem;
    font-weight: 300;
    margin-inline: 5px;
  }

  .container-2{
    font-size: 1.25rem;
  }

  .project-div {
    max-width: 80%;
    min-width: 300px;
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    width: 80%;
    min-width: 400px;
  }

  .card-img {
    width: 100%;
  }
  
  .card-body {
    border-radius: 0 0 15px 15px;
    width: 100%;
    padding: 10px 0;
  }

  .card-body h4 {
    height: auto;
  }

  .card-img img {
    height: 100%;
    border-radius: 15px 15px 0 0;
  }

  .card-body h4{
    font-size: 1rem;
  }

  .details-div h2 {
    font-size: clamp(1.75rem, 1rem + 2.0833vw, 2rem);
  }
   
  .details-div h3 {
    font-size: 1.5rem;
    margin-top: 8px;
  }
   
  .details-div i {
    font-size: 1.5rem;
  }

}

@media (max-width: 575px) {
  .container-2, .container-4 {
    padding-inline: 1rem;
  }
 
  .button-div button {
    margin-inline: 5px;
    padding: 7px 12px;
  }

  .contact-div h5 span {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    margin-inline: 0;
    margin-top: 5px;
  }
 
  .contact-div h5 .no-show {
    display: none;
  }

  .container-2{
    font-size: 1.125rem;
   
  }
  .right-about-div {
    grid-column: 1 / span 3;
  }

  .middle-about-div {
    display: none;
  }

  .show-div {
    width: 80%;
    display:block;
    margin: 3rem auto;
  }
  .card {
    width: 90%;
    min-width: 300px;
  }

  .card-body h4{
    font-size: 1rem;
    padding: 0 5px;
    height: auto;
  }

  .bottom-div {
    flex-direction: column;
  }

  .bottom-div button {
    padding: 8px 12px;
  }
  
  .bottom-div h5 {
    font-size: 1.5rem;
  }

  .details-div h2 {
    font-size: clamp(1rem, 0.0522rem + 4.7244vw, 1.75rem);
  }
   
  .details-div h3 {
    font-size: clamp(0.75rem, 0.1181rem + 3.1496vw, 1.25rem);
    margin-top: 8px;
  }
   
  .details-div i {
    font-size: 1.125rem;
  }

  .container-4 {
    padding-inline: .5rem;
  }
  
  footer h3 {
   display: flex;
   flex-direction:column;
  }

}
 

@media (max-width: 320px ) {

  .left-div {
    width: 100%;
  }

  .button-div button {
    margin-inline: 2px;
    padding: 7px 12px;
  }

  .details-div h2 {
    font-size: 1rem;
  }
   
  .details-div h3 {
    font-size: 1rem;
    margin-top: 8px;
  }
   
  .details-div i {
    font-size: 1rem;
  }

  .container-2 {
    padding-inline: .5rem;
  }

  .container-4 {
    padding-inline: 0;
  }
}




