@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,300&family=Satisfy&display=swap');

:root {
  --color-1: #222222;
  --color-2:#04293A;
  --color-3:#064663;
  --color-6:#F4DFB1;
  --color-5:#eee9dad3;
  --color-4:#EEE9DA;

  --background-1: linear-gradient(180deg, rgba(38,38,38,1) 50%, rgba(103,102,102,1) 75%, rgba(129,129,129,1) 100%);
  --background-2: linear-gradient(0deg, rgba(38,38,38,1) 50%, rgba(103,102,102,1) 75%, rgba(129,129,129,1) 100%);
  
  --background-3: linear-gradient(0deg, rgba(6,70,99,1) 50%, rgba(103,102,102,1) 75%, rgba(129,129,129,1) 100%);
  
  --bg-color-1: rgb(38,38,38);
  --bg-color-2: rgb(6,70,99);
  
  font-family: 'Poppins', sans-serif;
  font-family: 'Satisfy', cursive;
 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  /* border: 1px solid red; */
  color: var(--color-4);
}

body {
  background: var(--bg-color-1);  
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.nav-container {
  padding: 0;
  height: 120px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  background: rgb(38,38,38)
}

.navbar {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: none;
  color: var(--color-4);
  padding-top:0 ;
}

.nav-div {
  width: 100%;
  height: 100%;
  padding-inline: 0;
}

.navbar-collapse {
  width: 100%;
  height: 100%;
  text-align: right;
  justify-content: right;
  background-color: transparent;
  padding: 0;
}

.navbar-brand {
  height: 100%;
  font-family: 'Satisfy', cursive;
  font-size: clamp(1.875rem, 1.3068rem + 2.8409vw, 3.4375rem);
  color: var(--color-4);
  padding-top: 2rem;
  padding-inline: 10px;
  margin-left: 10px;
}


.nav-item a {
  text-align: center;
  height: 100%;
  color: var(--color-4);
  font-size: 1.5rem;
  margin-left: 1.25rem;
  padding-inline: 10px;
  padding-top: 2.5rem;
  border-radius: 0 0 10px 10px;
}

.nav-item a:hover  {
  background-color: var(--color-4);
  color: var(--color-1);
  border-radius: 0 0 10px 10px;
}

.navbar-brand:hover {
  color: var(--color-6);
  transform: scale(1.1);
}

.navbar-toggler {
  color: var(--color-4);
  background-color: var(--color-4);
  margin-top: 2rem;
}

.nav-item a:focus {
  background-color: var(--color-4);
  color: var(--color-1);
}

.navbar-nav {
  height: 100%;
}



/* HERO SECTION */

.container-1 {
  width: 100%;
  height: 100vh;
  background: rgb(38,38,38); 
  background: var(--background-1);
  padding: 3rem 0;
}

.hero-div {
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding-inline: 10px;
  display: flex;
  gap: 20px;
}

/* ------------------- LEFT DIV ----------------*/

.left-div {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  text-align: center;
}

.img-div {
  height: 100%;
  width: 100%;
 }

.img-div-rotate {
  position: relative;
  height: 100%;
  width: 100%;
}

.img-div-rotate .hidden {
  visibility: hidden;
}

.img-div-rotate .img {
  position: absolute;
  top: 0;
  left: 0;
}



/* ------------------- RIGHT DIV ----------------*/

.right-div {
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.right-div-content {
  height: 100%;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.text-div h1 {
  font-size: clamp(3.8rem, 0.625rem + 10vw, 8.125rem);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.contact-div, .button-div, .socmed-div, .text-div {
  text-align: center;
  margin-top: 2rem;
}

.contact-div h5 span {
  font-size: 1.5rem;
  font-weight: 300;
  margin-inline: 5px;
}

.button-div button {
  border: 1px solid rgb(54, 173, 241);
  font-size: clamp(1rem, 0.6568rem + 0.9369vw, 1.5rem);
  margin-inline: 30px;
  padding: 10px 15px;
}

.button-div .dl-btn {
  background-color: transparent;
  border: 2px solid var(--color-4);
  border-radius: 10px;
}

.button-div .msg-btn {
  background-color: var(--color-3);
  color: var(--color-4);
  border: 2px solid var(--color-4);
  border-radius: 10px;
}

.button-div .dl-btn:hover {
  transform: scale(1.1);
  border: 2px solid var(--color-6);
  color: var(--color-6);
}

.button-div .msg-btn:hover {
  transform: scale(1.1);
  border: 2px solid var(--color-6);
  color: var(--color-6);
}

.socmed-div h3 i {
  font-size: 4rem;
  margin-inline: 15px;
}

.socmed-div h3 i:hover {
 transform: scale(1.1);
 color: var(--color-6);
}

.antiClockwiseSpin {
  animation: antiClockwiseSpin 10s linear infinite;
}

.bounce {
  animation: bounce2 1.5s ease infinite;
}




/* ---------------- KEYFRAMES ----------- */

@keyframes clockwiseSpin {
  from  {
    transform: rotate(0deg);
 }
 to {
    transform: rotate(360deg);
  }	
}

@keyframes antiClockwiseSpin {
  from  {
    transform: rotate(360deg);
 }
 to {
    transform: rotate(0deg);
  }	
}

@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
  90% {transform: translateY(0px);}
}





/* ------ MEDIA QUERIES -------- */
@media (max-width: 991px) {

  .container-1 {
    height: auto;
    padding: 1rem 0;
  }

   .nav-item a {
    background: rgb(38,38,38);
    text-align: right;
    border-radius: 0;
    margin-left: 0;
  }

  .navbar-brand {
    padding-top: 2.5rem;
    padding-inline: 0;
    margin-left: 0;
  }
  
  .hero-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding-inline: 0;
  }

  .left-div {
    height: auto;
    width: auto;
    padding-top: 0;
  }

  .img-div-rotate{
   text-align: center;
  }

  .img-div-rotate .img {
    width: 100%;
  }

  .right-div {
    height: 100%;
    width: 100%;
    padding: 0 ;
  }
  
}

@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .contact-div h5 span {
    font-size: 1.25rem;
    font-weight: 300;
    margin-inline: 5px;
  }
 
}

@media (max-width: 575px) {
  .button-div button {
    margin-inline: 8px;
  }

  .contact-div h5 span {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    margin-inline: 0;
    margin-top: 5px;
  }
 
  .contact-div h5 .no-show {
    display: none;
  }
}
 

@media (max-width: 320px ) {
  
  .button-div button {
    margin-inline: 2px;
    padding: 7px 12px;
  }
}






