@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fira+Sans:wght@300;400;700&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Acme', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  /* border: 1px solid red; */
  /* background-color: var(--color1); */
  color: var(--white);
}


:root {
  /* --color1:#27374D; */
  --color1:#152844;
  --color2: #526D82;
  --color3: #9DB2BF;
  --color4: #DDE6ED;
  --white: #fdfdfd;
}

/* NAVBAR SECTION */
.navbar {
  background-color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbar-collapse {
  justify-content: right;
  padding-right: 20px;
}

.navbar-collapse .navbar-nav {
  text-align: right;
}

.container-fluid a {
  color: var(--white);
}

.container-fluid button {
  color: var(--white);
}

.nav-div a img {
  height: 40px;
  padding-left: 20px;
}

.nav-item a {
  font-size: 20px;
}



/* HERO SECTION */
.hero-div {
  text-align: center;
  background-color: var(--color1);
  height: 95vh;
}

.hero-picture-div img {
  height: 88%;
}

.hero-text-div {
  text-align: left;
  align-self: center;
  padding-bottom: 300px;
 
}

.hero-text-div h1 {
  font-family: 'Acme', sans-serif;
  font-size: clamp(1.5rem, 0.55rem + 4.75vw, 6.25rem);
}

.hero-text-div button {
  background-color: var(--color3);
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid var(--white);
} 

.hero-text-div button:hover {
  background-color: var(--color2);
  border: 1px solid var(--white);
  color: var(--white);
}


/* ABOUT DIV */

.about-div {
  background-color: var(--color2);
  text-align: right;
}

.about-row {
  background-color: var(--color2);
  justify-content: right;
  align-items: center;
}

.about-picture-div img {
  height: 800px;
  justify-self: right;
}

.about-text-div {
  text-align: left;
 
}

/* PROJECT DIV */
.project-div {
  background-color: var(--color1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-div h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Acme', sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-row {
  justify-content: center;
}

.project-col-div .card {
  background-color: var(--white);
  height: 500px;
}

.card-body h5 {
  color: var(--color1);
  font-size: 30px;
}

.card-body p {
  color: var(--color1);
  font-size: 20px;
}
